.places {
  max-width: 984px;
  margin: 0 auto;
  padding: 92px 0 92px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places {
    min-width: 928px;
    width: 90%;
    max-width: 984px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places {
    padding: 88px 0 88px;
    min-width: 720px;
    width: 93%;
    max-width: 928px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding: 64px 0 66px;
    min-width: 320px;
    width: 100%;
    max-width: 720px;
  }
}