.lead {
  margin: 0 auto;
  padding: 56px 0 0;
  width: 984px;
  display: flex;
  flex-direction: column;
  font-size: 0;
}

@media screen and (max-width: 1279px) {
  .lead {
    padding: 48px 0 0;
    min-width: 928px;
    width: 90%;
    max-width: 1184px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead {
    min-width: 768px;
    width: 93%;
    max-width: 928px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    min-width: 320px;
    width: 100%;
    max-width: 767px;
  }
}