.place__link {
  margin: 12px 0 0;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  transition: opacity 0.3s ease;
}

.place__link:hover {
  opacity: 0.8;
}